name: maxar_catalog_update
on:
  workflow_dispatch:
  schedule:
    - cron: "25 3 * * *" # https://crontab.guru/

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install GDAL
        run: |
            python -m pip install --upgrade pip
            pip install --no-cache-dir Cython
            pip install --find-links=https://girder.github.io/large_image_wheels --no-cache GDAL
      - name: Test GDAL installation
        run: |
            python -c "from osgeo import gdal"
            gdalinfo --version
      - name: install dependencies
        run: |
          pip install -r requirements.txt
      - name: execute python script
        run: |
          python maxar_data_catalog.py
      - name: file_check
        run: ls -l -a
      - name: commit files
        continue-on-error: true
        run: |
          today=$(date +"%Y-%m-%d")
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Updated datasets ${today} UTC" -a
          git pull origin master
      - name: push changes
        continue-on-error: true
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
